.container{
	@include mq("xl"){
		max-width: 1170px;
	}
}
.container-half{
	padding: 0 15px;
}
.modal-dialog{
	max-width: none;
}

.modal-content{
	background-color: transparent;
	border-radius: 0;
	border: none;
}

#burger{
	& > hr{
		display: block;
		height: 4px;
		border: none;
		margin: 0;
		border-radius: 2px;
		margin-bottom: 5px;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

#menubar{
	@include mq("lg", max){
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		overflow-y: scroll;
		position: fixed;
		display: none;
		opacity: 0;
	}
}

.field{
	& > input,
	& > textarea{
		width: 100%;
		border: none;
		background-color: transparent;
	}
}