$bp: (
	"md": 768px,
	"lg": 992px,
	"xl": 1200px
);
$float: (
	left,
	right,
	none
);
$display: (
	none,
	inline,
	inline-block,
	block,
	flex
);
$text: (
	left,
	right,
	center,
	justify
);
$cols: 12;
@each $v in $float{
	.float-#{$v}{
		float: $v;
	}
}
@each $d in $display{
	.d-#{$d}{
		display: $d;
	}
}
@each $t in $text{
	.text-#{$t}{
		text-align: $t;
	}
}
.row::after{
	content: "";
	display: block;
	clear: both;
}
.col{
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
@for $i from 1 through $cols{
	.col-#{$i}{
		width: percentage($i / $cols);
	}
}
@each $name, $value in $bp{
	@media (min-width: $value){
		@each $v in $float{
			.float-#{$name}-#{$v}{
				float: $v;
			}
		}
		@each $d in $display{
			.d-#{$name}-#{$d}{
				display: $d;
			}
		}
		@each $t in $text{
			.text-#{$name}-#{$t}{
				text-align: $t;
			}
		}
		@for $i from 1 through $cols{
			.col-#{$name}-#{$i}{
				width: percentage($i / $cols);
			}
		}
	}
}