// font-weight classes
@each $name, $value in $font-weight {
	.fw-#{$name}{
		font-weight: $value;
	}
}
// font-size classes
@for $i from $fs-loop-from through $fs-loop-to {
	$size: $i * 2;
	.fs-#{$size}{
		font-size: #{$size}px;
	}
}

@each $bp-name, $bp-value in $breakpoints {
	@include mq($bp-name){
		@for $i from $fs-loop-from through $fs-loop-to{
			$size: $i * 2;
			.fs-#{$bp-name}-#{$size}{
				font-size: #{$size}px;
			}
		}
	}
}
.fs-decrease{
	font-size: calc(1em - 1px);
}
.fs-increase{
	font-size: calc(1em + 1px);
}

.text-crop{
	overflow: hidden;
	text-overflow: ellipsis;
}

.link{
	text-decoration: underline !important;
	&:hover,
	&-dotted,
	&-dashed,
	&-invert,
	&-invert_dotted,
	&-invert_dashed{
		text-decoration: none !important;
	}
	&-dotted{
		border-bottom: 1px dotted;
		&:hover{
			border-bottom-color: transparent;
		}
	}
	&-dashed{
		border-bottom: 1px dashed;
		&:hover{
			border-bottom-color: transparent;
		}
	}
	&-invert{
		&:hover{
			text-decoration: underline !important;
		}
	}
	&-invert_dotted{
		border-bottom: 1px dotted transparent;
		&:hover{
			border-bottom: 1px dotted;
		}
	}
	&-invert_dashed{
		border-bottom: 1px dashed transparent;
		&:hover{
			border-bottom: 1px dashed;
		}
	}
}

.underline{
	&-solid,
	&-dotted,
	&-dashed{
		line-height: 1em;
		white-space: nowrap;
		overflow: hidden;
		&::after{
			content: "";
			display: inline-block;
			width: 100%;
		}
	}
	&-solid::after{
		border-bottom: 1px solid;
	}
	&-dotted::after{
		border-bottom: 1px dotted;
	}
	&-dashed::after{
		border-bottom: 1px dashed;
	}
}

.nowrap{
	white-space: nowrap;
}

@for $i from 0 through 10 {
	$val: unquote("1.") + $i;
	@if $i == 10 {
		$val: 2;
	}
	.lh-#{$i}{
		line-height: $val;
	}
}