// Offsets
@each $letter, $value in $sides{
	.#{$letter}-0{
		#{map_get($sides, $letter)}: 0;
	}
}

// .z-35
@for $i from 0 through 10{
	$amount: $i * 5;
	.z-#{$amount}{
		z-index: $amount;
	}
}
// .p-relative
@each $pos in $positions{
	.p-#{$pos}{
		position: $pos;
	}
}

.fullarea{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

@each $bp-name, $bp-value in $breakpoints{
	@include mq($bp-name){
		@each $pos in $positions{
			.p-#{$bp-name}-#{$pos}{
				position: $pos;
			}
		}
		@each $side-letter, $side-name in $sides{
			.#{$side-letter}-#{$bp-name}-a{
				#{map_get($sides, $side-letter)}: auto;
			}
			.#{$side-letter}-#{$bp-name}-0{
				#{map_get($sides, $side-letter)}: 0;
			}
		}
	}
}
