$h-loop-from: 10;
$h-loop-to: 30;
$h-factor: 10;

@for $i from $h-loop-from through $h-loop-to{
	$height: $i * $h-factor;
	.h-#{$height}{
		height: #{$height}px;
	}
}

.justify{
	display: block;
	text-align: justify;
	font-size: 0.1px;
	line-height: 0;
	& > *{
		display: inline-block;
		font-size: 14px;
		line-height: 1em;
	}
	&::after{
		content: "";
		display: inline-block;
		width: 100%;
	}
}

.valign > *{
	display: inline-block;
	vertical-align: middle;
}

.center{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	&-x{
		left: 50%;
		transform: translateX(-50%);
	}
	&-y{
		top: 50%;
		transform: translateY(-50%);
	}
}

.p{
	&-r{
		position: relative;
	}
	&-a{
		position: absolute;
	}
	&-f{
		position: fixed;
	}
}