
.slider-fullheight{
	.slider,
	.slick-list,
	.slick-track,
	.slick-slide{
		height: 100%;
	}
}
.slider-fullwidth{
	@include mq("xl"){
		.slick-prev{
			left: calc((100% - 1170px) / 4);
			transform: translateX(-50%);
		}
		.slick-next{
			right: calc((100% - 1170px) / 4);
			transform: translateX(-50%) scale(-1);
		}
	}
}

.slider-btns,
.slider-dots{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}

.slider-dots{
	top: auto;
	bottom: 0;
}


.slick-arrow{
	display: block;
	top: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	height: 100%;
	position: absolute;
	font-size: 0;
	cursor: pointer;
	outline: none !important;
	z-index: 10;
	// Reset left parameter for next button
	&.slick-next{
		transform: scaleX(-1);
	}
	&::before{
		content: "";
		position: absolute;
		display: block;
	}
}

.slick-dots{
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	& > li{
		display: inline-block;
	}
	button{
		display: block;
		padding: 0;
		font-size: 0;
		background-color: transparent;
		cursor: pointer;
	}
}

.slider-dots_position{
	&_inside .slick-dots{
		top: auto;
		bottom: 0;
	}
	&_outside .slick-dots{
		top: 100%;
		bottom: auto;
	}
}
.slider-dots_alignment{
	&_center .slick-dots{
		text-align: center;
	}
	&_left .slick-dots{
		text-align: left;
	}
	&_right .slick-dots{
		text-align: right;
	}
}
.slider-arrows_position{
	&_inside{
		.slick-prev{
			left: 0;
			right: auto;
		}
		.slick-next{
			left: auto;
			right: 0;
		}
	}
	&_outside{
		.slick-prev{
			left: -15px;
			right: auto;
		}
		.slick-next{
			left: auto;
			right: -15px;
		}
		@include mq("xl"){
			.slick-prev{
				left: auto;
				right: 100%;
			}
			.slick-next{
				left: 100%;
				right: auto;
			}
		}
	}
}

.slider-arrows_style{
	&_round{
		.slick-arrow::before{
			border-radius: 50%;
		}
	}
	&_square{
		.slick-arrow::before{
			border-radius: 0;
		}
	}
	&_transparent{
		.slick-arrow{
			background-color: transparent;
		}
	}
}
