@import "definitions";
@import "font";
@import "spacing";
@import "positioning";
@import "dimensions";
@import "slick-default";
@import "bs-reset";

*,
*::before,
*::after{
	position: relative;
	background-repeat: no-repeat;
}
html,
body{
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans";
}
.float::after{
	content: "";
	display: block;
	clear: both;
}
.clear{
	clear: both;
}
.circle{
	border-radius: 50%;
}
.cp{
	cursor: pointer;
}

.pseudo{
	&::before,
	&::after{
		@include pseudo;
	}
	&-before::before{
		@include pseudo;
	}
	&-after::after{
		@include pseudo;
	}
}

.noselect{
	user-select: none;
	-o-user-select: none;
	-ms-user-select: text;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.noresize{
	resize: none;
}

.crop{
	overflow: hidden;
}

@each $name, $value in $colors{
	.color-#{$name}{
		color: $value;
		&.link-thin{
			border-bottom: 1px solid rgba($value, 0.4);
		}
	}
	.color-#{$name}_hover:hover{
		color: $value;
	}
	.bg-c-#{$name}{
		background-color: $value;
	}
}
.color-inherit{
	color: inherit;
}

.bg-pos{
	&-center{
		background-position: center;
	}
	&-center-y{
		background-position-y: center;
	}
	&-center-x{
		background-position-x: center;
	}
	&-top{
		background-position-y: top;
	}
	&-right{
		background-position-x: right;
	}
	&-bottom{
		background-position-y: bottom;
	}
	&-left{
		background-position-x: left;
	}
}
.bg{
	&-center{
		background-position: center center;
	}
	&-cover{
		background-size: cover;
	}
	&-stretch{
		background-size: 100% 100%;
	}
	&-default{
		@extend .bg-center;
		@extend .bg-cover;
	}
	@each $name, $value in $backgrounds{
		&-#{$name}{
			background-image: url($value);
		}
	}
}

header.fixed,
#header.fixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

body.fixed{
	overflow: hidden !important;
}

footer.sticky,
#footer.sticky{
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
}

.delimiter-h{
	height: 1px;
}
.delimiter-w{
	height: 100%;
	width: 1px;
}

table{
	border-collapse: collapse;
}
.table-wrapper{
	overflow-x: auto;
	& > table{
		min-width: 100%;
	}
}
.table-unstyled{
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
	tr,
	th,
	td,
	thead,
	tbody{
		@extend .table-unstyled;
	}
}
.table-fixed{
	table-layout: fixed;
}

.btn{
	display: inline-block;
	cursor: pointer;
	line-height: 1em;
	white-space: nowrap;
	&-soft-rounded{
		border-radius: 5px;
	}
	&-rounded{
		border-radius: 50px;
	}
}
.transitionable{
	transition: all .2s linear;
}

// Only for mobile
@include mq("md", max){
	.btn-mobile{
		width: 100%;
		text-align: center;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mobile-wrapper{
		overflow-x: scroll
	}
}

@for $i from 0 through 10{
	.o-#{$i}{
		opacity: $i / 10;
	}
	.brd-rd-#{$i}{
		border-radius: #{$i}px;
	}
}