@import "definitions";	// Variables
@import "font";			// Font settings
@import "spacing";		// Settings for managing spacing
@import "positioning";	// Positioning settings
@import "dimensions";	// Settings for managing sizes

*,
*::before,
*::after{
	position: relative;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}

// Prevent float's parent element from collapsing
.float::after{
	content: "";
	display: block;
	clear: both;
}
.clear{
	clear: both;
}
.circle{
	border-radius: 50%;
}
.cp{
	cursor: pointer;
}

.nolink,
.nolink:hover{
	text-decoration: none;
}

.crop{
	overflow: hidden;
}

.bg-default{
	background-position: center;
	background-size: cover;
}

header.fixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
body.fixed{
	overflow: hidden !important;
}
table{
	border-collapse: collapse;
}
.table-wrapper{
	overflow-x: auto;
	& > table{
		min-width: 100%;
	}
}

.btn{
	display: inline-block;
	cursor: pointer;
	line-height: 1;
	white-space: nowrap;
	&-rounded{
		border-radius: 100px;
	}
}

// Only for mobile
@include mq("md", max){
	.btn-mobile{
		width: 100% !important;
		text-align: center !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

@for $i from 1 through 20 {
	.brd-rd-#{$i}{
		border-radius: #{$i}px;
	}
}
