@use '../func';

// TODO: space-around, space-evenly
// TODO: Add align-self
$-justify-contents: (
	c: center,
	s: stretch,
	fs: flex-start,
	fe: flex-end,
	sb: space-between,
);
$-align-contents: (
	c: center,
	s: stretch,
	fs: flex-start,
	fe: flex-end,
	sb: space-between
);
$-align-items: (
	c: center,
	s: stretch,
	fs: flex-start,
	fe: flex-end
);

@if func.module-enabled(flex) {
	@include func.rule-create-from-map(jc, justify-content, $-justify-contents, true);
	@include func.rule-create-from-map(ac, align-content, $-align-contents, true);
	@include func.rule-create-from-map(ai, align-items, $-align-items, true);
}