@use '../func';

$-values: (
	l: left,
	r: right,
	n: none
);

@each $key, $value in $-values {
	.fl-#{$key} {
		float: $value;
	}
}

@each $bp-key, $bp-value in func.$breakpoints {
	@include func.media-query($bp-key) {
		@each $key, $value in $-values {
			.fl-#{$bp-key}-#{$key} {
				float: $value;
			}
		}
	}
}
