@use '../func';

$-font-weights: (
	"thin": 100,
	"light-x": 200,
	"light": 300,
	"regular": 400,
	"medium": 500,
	"bold-s": 600,
	"bold": 700,
	"bold-x": 800,
	"black": 900,
);
$-font-styles: (
	n: normal,
	i: italic
);
$-text-aligns: (
	l: left,
	r: right,
	c: center,
	j: justify
);
$-text-decorations: (
	n: none,
	u: underline,
	o: overline,
	lt: line-through
);
$-text-overflows: (
	c: clip,
	e: ellipsis
);
$-text-transforms: (
	n: none,
	u: uppercase,
	l: lowercase,
	c: capitalize
);
$-white-spaces: (
	normal: normal,
	nowrap: nowrap
);
$-word-breaks: (
	n: normal,
	ba: break-all
);

$-fs-min: 1;
$-fs-max: 5;
$-fs-step: 0.2;

$-lh-min: 0;
$-lh-max: 1;
$-lh-step: 0.1;

// font-weight
@include func.rule-create-from-map(fw, font-weight, $-font-weights);

// font-size
@for $i from $-fs-min through $-fs-max {
	$j: 0;
	@while $j <= 1 {
		$size: $i + $j;
		.fs-#{func.selector-escape($size)} {
			font-size: #{$size}rem;
		}
		$j: $j + $-fs-step;
	}
}

// line-height
@for $i from $-lh-min through $-lh-max {
	$j: 0;
	@while $j <= 1 {
		$lh: $i + $j;
		.lh-#{func.selector-escape($lh)} {
			line-height: $lh;
		}
		$j: $j + $-lh-step;
	}
}

// font-style
@include func.rule-create-from-map(fs, font-style, $-font-styles);
// text-align
@include func.rule-create-from-map(ta, text-align, $-text-aligns, true);
// text-decoration
@include func.rule-create-from-map(td, text-decoration, $-text-decorations);
// text-overflow
@include func.rule-create-from-map(to, text-overflow, $-text-overflows);
// text-transform
@include func.rule-create-from-map(tt, text-transform, $-text-transforms);
// white-space
@include func.rule-create-from-map(ws, white-space, $-white-spaces);
// word-break
@include func.rule-create-from-map(wb, word-break, $-word-breaks);

.link-disabled,
.link-disabled:hover {
	text-decoration: none;
}

.link {
	text-decoration: underline;
	&:hover,
	&-dotted,
	&-dashed {
		text-decoration: none;
	}
	&-dotted {
		border-bottom: 1px dotted;
		&:hover {
			border-bottom-color: transparent;
		}
	}
	&-dashed {
		border-bottom: 1px dashed;
		&:hover {
			border-bottom-color: transparent;
		}
	}
}

// .fs-decrease{
// 	font-size: calc(1em - 1px);
// }
// .fs-increase{
// 	font-size: calc(1em + 1px);
// }
