@use '../func';

@if func.module-enabled(reset) {
	*,
	*::before,
	*::after {
		position: relative;
		box-sizing: border-box;
		background-repeat: no-repeat;
		margin: 0;
		padding: 0;
		transform-origin: center;
	}

	html {
		font-size: 10px;
	}

	body {
		font-size: 1.4rem;
	}

	table {
		border-collapse: collapse;
	}

	button {
		border: none;
		background-color: transparent;
	}
}
